.stationContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
}
.radioLogo {
  width: 105px;
  height: auto;
}

/* first breakpoint iPhone 14 pro max */
@media screen and (min-width: 430px) {
  .radioLogo {
    width: 120px;
  }
}

/* second breakpoint desktop */
@media screen and (min-width: 1024px) {
  .stationContainer {
    cursor: pointer;
  }
  .radioLogo {
    width: 150px;
  }
}
