/* global css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: fit-content;
  min-width: 100vw;
  min-height: 100vh;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
}
p {
  font-size: 1rem;
}

/* breakpoint desktop */
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
  }
  .loginPageFormOuterContainer {
    width: 20vw;
    margin-top: 3rem;
    padding: 1.2rem;
  }
}
